In [2]:
import pandas as pd
import numpy as np
from faker import Faker

In [3]:
fake = Faker()
Faker.seed(42)

In [4]:
n = 10000  # Number of synthetic users
sim_changes_stats = (1.2, 0.8)

In [6]:
data = {
    'user_id': [fake.uuid4() for _ in range(n)],
    'name': [fake.name() for _ in range(n)],
    'phone_number': [fake.phone_number() for _ in range(n)],

    # Number of SIM changes in past year: normal distribution, clipped to non-negative integers
    'sim_changes_past_year': np.clip(np.random.normal(sim_changes_stats[0], sim_changes_stats[1], n).round(), 0, None).astype(int)
}

In [7]:
df = pd.DataFrame(data)

In [8]:
df

,user_id,name,phone_number,sim_changes_past_year
0,4f808e70-20fc-4b77-afd1-df6d6b6b4038,Michael Hensley,001-855-620-5636x14373,1
1,c4533495-fd55-49dd-abdb-646bc71032c6,Mrs. Lisa Choi DVM,+1-620-881-7737,0
2,1c34374f-4000-4fae-aead-da1f19b5f03c,James Campbell,+1-424-581-7687,0
3,748346ba-ae63-473c-bcd6-b0d17cd88f44,Jason Hall,(839)412-4985,2
4,f5c0529e-7265-41bd-87e6-ce4ae99dfede,Mark Wade,973.793.2264x776,3
...,...,...,...,...
9995,7625845b-0582-44d2-9b72-1148e7765edf,Victoria Ramos,001-333-207-9042x8639,2
9996,656e8c2a-6141-4e5d-acbc-d852842b7361,Timothy Hill,8988542709,0
9997,d8f4fa46-e006-42d1-809b-9cc27c1da323,William Lee,(847)576-7267x6019,1
9998,28cb9da1-61f0-41a9-948c-dda16bdea7bd,Maria Eaton,+1-505-583-7192x32202,2
9999,d4a3e864-eaac-43de-851f-1535b5b620c3,Angela Smith,756.962.3546,2

In [9]:
df.to_csv('Fabricated data - SIM changes.csv', index=False)